<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='DownloadSelect.css')}}">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.4.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="{{url_for('static', filename='Logo.png')}}" alt="" width="90" height="90">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/DownloadSelect">Workbooks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<div>
    <div class="row fatFlex" id="topFlex">
        <div class="col-sm-5 centered">
            <h1 class="mainTitle">
                Download a Worsheet
            </h1>
        </div>
        
        <form action="{{ url_for('views.sendPDF')}}" method="post">       
        <div class="col-sm-3 centered">
            <button class = "strangeBtn">
                Download
            </button>
        </div>
        <div class="col-sm-4 centered">
            <div id="TopicSpot">
                <h2>
                    Topics
                </h2>
            </div>
        </div>
    </div>
    <div class="row f">
            <div class="col-sm-5 centered">
                <select name="GetWorkbook" class="cool-dropDown">
                    <option value="---" class="dropDown-element">Select a Grade</option>
                    <option value="Grade1Workbook.pdf" class="dropDown-element">First Grade</option>
                    <option value="Grade2Workbook.pdf" class="dropDown-element">Second Grade</option>
                    <option value="Grade4Workbook.pdf" class="dropDown-element">Fourth Grade</option>
                    <option value="Grade9Workbook.pdf" class="dropDown-element">Algebra 1</option>
                </select>
            </div>
        </form>
            <div class="col-sm-3 centered">
                <button id="customize">
                    <a href="{{ url_for('views.customPDF')}}">customize</a>
                </button>
            </div>
    </div>
    
    </div>
    <ul id = "listOfTopics">

    </ul>


</div>

<script src="{{ url_for('static', filename='Download.js') }}"></script>
</body>
</html>